{% extends 'WebProjectApp/home.html' %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    {% block content %}

    <form method="POST" action="">
        {% csrf_token %}

        <div style="width:75%; margin:auto;">
      

        {{form|crispy}} <!--formulario creado-->

        <button type="submit" class="btn btn-primary">Registrate</button>
    </div>
    </form>

    {% endblock %}
</body>
</html>